  body {
   font-family: "Montserrat", sans-serif;
   font-weight: 300;
   color: #FDFEFF ;
  }

  .app-container {
    margin: 0 auto 0;
    padding: 0 auto 0;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    background-image: url(image/bg.jpg);
    background-size: cover;
    max-height: 100%;
  }

  header {
    display: flex;
    justify-content: center;
  }

  form {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .search-input {
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    width: 600px;
    border-radius: 30px;
    opacity: 0.7;
  }

  .search-button {
    margin-left: 20px;
    font-size: 16px;
    background-color: #4888bd;
    color: #FDFEFF ;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 30px;
  }

  main {
    display: flex;
   }

  .current-weather {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }

  .place {
    font-size: 25px;
    line-height: 30px;
  }

  .weather-info {
    font-size: 16px;
    font-weight: 400;
  }

  #weather-conditions {
    color: #4888bd;
  }

  #humidity-value {
    color: #4888bd;
  }

  #wind-value {
    color: #4888bd;
  }

  .current-temperature {
    font-size: 90px;
    padding-top: 40px;
  }

  /*.forecast-section {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }*/

  /* .forecast-data {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  } */

  /* .forecast-day {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 5px; */
    /* background-color: black; */
    /* flex-direction: row; */
    /* justify-content: space-around;  */
    /* margin: auto; */
    /* margin-top: 30px; 
    padding: 5px;  */
    /* background-color: black;  */
   /* }

   .forecast-date {
    display: flex;
    justify-content: space-between; 
   } */
/* 
  /*.forecast-temperatures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }*/

  .forecast-data {
    display: flex;
    flex-direction: row;
    /* margin-top: 40px; */
    margin: 30px auto 60px;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.222);
    border-radius: 30px;
    width: fit-content;
  }

  .forecast-day {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
  }
  
  .forecast-date {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
  }
  
  .forecast-icon {
    font-size: 3rem;
    /* margin: 0 auto; */
  }

  .forecast-temperatures {
    text-align: center;
    color: #4888bd;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .max-temperature {
    padding: 0 5px;
  }

  .min-temperature {
    padding: 0 5px;
  }

  hr {
    width: 80%;
    color: white;
    background-color: white;
    height: 2px;
    border: none;
    border-radius: 30px;
  }
  
  footer {
    text-align: center;
    color: white;
    margin: 10px auto 0;
    line-height: 30px;
    padding: 5px 50px 5px 50px;
    font-weight: 900;
    font-size: 16px; 
  }

  a {
    color: #4888bd;
  }
