body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #FDFEFF ;
}

.app-container {
    margin: 0 auto 0;
    padding: 0 auto 0;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    background-image: url(image/bg.jpg);
    background-size: cover;
    max-height: 100%;
  }

  header {
    display: flex;
    justify-content: center;
  }

  form {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .search-input {
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    width: 600px;
    border-radius: 30px;
    opacity: 0.7;
  }

  .search-button {
    margin-left: 20px;
    font-size: 16px;
    background-color: #4888bd;
    color: #FDFEFF ;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 30px;
  }

main {
    display: flex;
   }

  .current-weather {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }

  .place {
    font-size: 25px;
    line-height: 48px;
  }

  .weather-info {
    font-size: 500;
  }

  #weather-conditions {
    color: #4888bd;
  }

  #humidity-value {
    color: #4888bd;
  }

  #wind-value {
    color: #4888bd;
  }

  .current-temperature {
    font-size: 90px;
    padding-top: 40px;
  }

  footer {
    text-align: center;
    color: white;
    margin: 175px auto 5px;
    line-height: 30px;
    padding: 50px;
    font-weight: 900;
    font-size: 16px; 
  }

  a {
    color: #4888bd;
  }
