body {
    font-family: "Playwrite DE Grund", cursive;
    color: white;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; /* Keep the video behind content */
    object-fit: cover; /* Make the video cover the entire screen */
  }

  a {
    color: #00308F;
  }

  header {
    display: flex;
    justify-content: flex-start;
  }

  .search-input {
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    width: 50%;
    border-radius: 30px;
    opacity: 0.2;
  }

  .search-button {
    margin-left: 20px;
    font-size: 16px;
    background-color: #4682B4;
    color: white;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 30px;
  }